<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>

<body>
    <h2> {{ livre.title }} </h2>
    <img src="{{ livre.image }}" alt="{{ livre.title }}">
    <p> {{ livre.description }} </p>
</body>

</html>