<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
</head>

<body>
    <table border="1" style="width: 33%; display: block; margin: auto;">
        <thead>
            <th> ID </th>
            <th> Title </th>
            <th> Page Count </th>
            <th> Preview </th>
        </thead>
        <tbody>
            {% for book in livres %}
            <tr>
                <td> # </td>
                <td> {{ book.title }} </td>
                <td> {{ book.pageCount }} </td>
                <td> <a href="/books/{{ book.id }}"> Link </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>